{% extends 'base.html.twig' %}

{% block body %}

    {{ render(controller('CityFinderBundle:WebSearch:getNavigation')) }}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>{{ commune.name }}</h1>
            <p>Voici les différentes informations relatives à cette communes</p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Centrales à moins de 20 km<span class="badge pull-right">{{ commune.centralesNear20km|length }}</span>
                    </div>

                    <ul class="list-group">
                        {% for centrale in commune.centralesNear20km %}
                            <li class="list-group-item">{{ commune.name }}</li>
                        {% else %}
                            <li class="list-group-item">Cette commune n'est pas concernée par cette catégorie</li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Centrales à moins de 30 km<span class="badge pull-right">{{ commune.centralesNear30km|length }}</span>
                    </div>
                    <ul class="list-group">
                        {% for centrale in commune.centralesNear30km %}
                            <li class="list-group-item">{{ centrale.name }}</li>
                        {% else %}
                            <li class="list-group-item">Cette commune n'est pas concernée par cette catégorie</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Centrales à moins de 80 km<span class="badge pull-right">{{ commune.centralesNear80km|length }}</span>
                    </div>

                    <ul class="list-group">
                        {% for centrale in commune.centralesNear80km %}
                            <li class="list-group-item">{{ centrale.name }}</li>
                        {% else %}
                            <li class="list-group-item">Cette commune n'est pas concernée par cette catégorie</li>
                        {% endfor %}
                    </ul>

                </div>
            </div>

        </div>

        <hr>
    </div>


{% endblock %}